$def with (command)

$if command.get('command'):
	<b>Sent:</b> $command['command']<br/>

$if command.get('buffer'):
	<b>Received:</b> $command['buffer']
$elif command.get('command') and not command.get('buffer'):
	<b>Command not recognized</b>
	
<hr>

<h2>commands</h2>
$if command.get('commands'):
	$for c in command['commands'].commands:
		<b>$c['code']</b> - $c['desc']<br/>

<h2>parameters</h2>
$if command.get('parameters'):
	$for c in command['parameters'].parameters
		$c['code'] - Type: $c['type']<br/>
